*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Radio Canada', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  width: 88%;
  height: 100vh;
  margin: 0 auto;
  background-color: #f9f7f7; }

.bg-orange-icon {
  background-color: #f99b80; }

.bg-yellow-icon {
  background-color: #f1dfbb; }

.bg-aquamarine-icon {
  background-color: #cae8e1; }

.bg-drak-blue-icon {
  background-color: #15223d; }

/* HEADER SECTION */
.header {
  color: #000; }

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: #ffefea; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 0; }
  .nav__logo {
    display: flex; }
    .nav__logo-image-container {
      width: 2.5rem;
      height: 2.5rem;
      background: linear-gradient(to right, #373b44, #4286f4);
      border-radius: 100%;
      margin-right: 1rem; }
    .nav__logo-heading {
      padding-top: .3rem;
      font-size: 1.6rem;
      font-weight: 600; }
  .nav__list ul {
    padding-top: .9rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    list-style-type: none;
    cursor: pointer; }
    .nav__list ul li {
      margin-right: 3rem; }
  .nav__action {
    width: 10%; }
    .nav__action a {
      color: #fff;
      letter-spacing: 1px;
      padding: 1rem;
      font-size: 1.4rem;
      font-weight: 400;
      background-color: #f99b80;
      border-radius: 10px; }
    .nav__action a:hover {
      background-color: #ffefea;
      color: #f99b80;
      border: 1px solid #f99b80; }

.header__body {
  display: flex;
  margin-top: 11rem; }

.header__text-box {
  margin-right: 8rem;
  width: 30%;
  min-width: 37.5rem; }
  .header__text-box-heading {
    font-size: 6rem;
    font-weight: bold;
    white-space: pre-line;
    margin-bottom: 2rem; }
    .header__text-box-heading span {
      color: #f99b80; }
  .header__text-box-description {
    color: #777; }
  .header__text-box-action {
    width: 40%;
    margin: 2.5rem 0; }
    .header__text-box-action a {
      color: #fff;
      letter-spacing: 1px;
      padding: 1rem;
      font-size: 1.4rem;
      font-weight: 400;
      background-color: #f99b80;
      border-radius: 10px; }
    .header__text-box-action a:hover {
      background-color: #ffefea;
      color: #f99b80;
      border: 1px solid #f99b80; }

.header__person-picture {
  width: 50%;
  height: 40rem;
  background: linear-gradient(to bottom, #ee9ca7, #ffdde1); }

/* MAIN SECTION */
.main {
  margin-top: 21.5rem; }

.features {
  margin-bottom: 17rem; }
  .features__header {
    text-align: center; }
  .features__badge, .price__badge, .testimonials__badge {
    display: inline-block;
    color: #f99b80;
    background-color: #ffefea;
    font-size: 1rem;
    border-radius: 20px;
    padding: 0.4rem 1.2rem;
    text-transform: uppercase;
    margin-bottom: .6rem; }
  .features__heading, .price__heading, .testimonials__heading {
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 1rem; }
  .features__description, .price__description, .testimonials__description {
    display: inline-block;
    font-size: 1.2rem;
    color: #777;
    width: 33%; }
  .features__feature {
    display: flex;
    justify-content: space-between;
    margin: 4rem auto 0;
    width: 60%; }
  .features__feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    text-align: center; }
    .features__feature-box h4 {
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 1.4rem; }
    .features__feature-box p {
      margin-top: 1rem;
      color: #919191;
      font-size: 1.1rem; }
  .features__feature-icon-box {
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; }
    .features__feature-icon-box img {
      width: 4rem; }
  .features__feature-icon-box:nth-child(3) img {
    width: 3.2rem; }
  .features__feature-image-box {
    width: 50%;
    height: 40rem;
    background: linear-gradient(to right, #a8ff78, #78ffd6);
    margin-left: -4rem; }
  .features__feature-content-box {
    width: 38.25%;
    align-self: center; }
    .features__feature-content-box h4 {
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 1.6; }
    .features__feature-content-box p {
      font-size: 1.25rem;
      color: #919191;
      line-height: 1.8;
      margin-top: .8rem; }
    .features__feature-content-box ul {
      font-size: 1.3rem;
      color: #111111;
      margin-top: 1.7rem;
      line-height: 2; }
  .features__feature--two {
    margin-top: 13rem; }
  .features__feature--three {
    margin-top: 22rem; }
    .features__feature--three .features__feature-image-box {
      height: 28rem; }
    .features__feature--three .features__feature-content-box {
      width: 33%;
      align-self: start; }
  .features__feature--four {
    margin: 17rem auto 0; }
    .features__feature--four .features__feature-content-box {
      width: 37%; }

/* PRICE SECTION */
.price {
  text-align: center;
  margin-bottom: 17rem; }
  .price__list {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 7rem auto 0;
    width: 71%; }
  .price__list-item {
    padding: 4rem 7rem;
    border: 1px solid #efe8e8;
    border-radius: 10px;
    box-shadow: 0px 26px 24px -12px black; }
    .price__list-item h5 {
      font-size: 1.6rem;
      font-weight: bold; }
    .price__list-item .price__icon {
      display: block;
      font-size: 2.5rem;
      margin: 1.7rem 0; }
    .price__list-item .price__number {
      display: inline-block;
      font-weight: bold;
      font-size: 2.3rem;
      margin-bottom: 3rem; }
      .price__list-item .price__number span {
        font-size: .9rem;
        color: #f99b80; }
    .price__list-item p {
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 3rem;
      line-height: 1.8; }
      .price__list-item p span {
        color: #d0d0d0; }
    .price__list-item button {
      width: 120%;
      letter-spacing: 1px;
      color: #a5a5a5;
      border-radius: 35px;
      padding: .5rem 1.2rem;
      border: 1px solid #e1dede;
      margin-left: -.9rem; }
      .price__list-item button img {
        display: inline-block;
        width: 12%;
        margin-right: .6rem; }
  .price__list-item--highlighted {
    background-color: #fff;
    box-shadow: 0px 26px 24px -12px black;
    margin: 0 7rem;
    border: none; }
    .price__list-item--highlighted button {
      border: none;
      margin-left: -.9rem;
      color: #fff;
      letter-spacing: 1px;
      padding: 0.7rem 1.2rem;
      font-size: 0.9rem;
      font-weight: 400;
      background-color: #f99b80;
      border-radius: 35px; }
    .price__list-item--highlighted button:hover {
      background-color: #ffefea;
      color: #f99b80;
      border: 1px solid #f99b80; }

/* TESTIMONIALS SECTION */
.testimonials {
  text-align: center;
  margin-bottom: 50rem; }
  .testimonials__testimonial-list {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    overflow-x: hidden; }
  .testimonials__item {
    padding: 3.2rem 7rem 0;
    border-radius: 15px;
    background-color: #f4f4f4;
    font-size: 1.2rem; }
  .testimonials__testimonial-image-box {
    width: 15%;
    margin: 0 auto; }
    .testimonials__testimonial-image-box img {
      border-radius: 100%; }
  .testimonials h5 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1.8rem 0 0; }
  .testimonials time {
    color: #b7b7b7;
    margin: .2rem 0 .6rem;
    display: inline-block; }
  .testimonials__testimonial-rate {
    margin-bottom: .5rem; }
    .testimonials__testimonial-rate span {
      color: #f29938; }
  .testimonials p {
    color: #919191; }
  .testimonials__item-one {
    transform: translateX(-120px); }
  .testimonials__item-two {
    background-color: #fff;
    transform: scale(1.2);
    transform-origin: 0 0; }
  .testimonials__item-three {
    transform: translateX(120px); }
  .testimonials .arrow-right {
    cursor: pointer;
    color: #f99b80;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 69%;
    top: 44%;
    width: 2%;
    border-radius: 100%;
    height: 11%;
    background-color: #fff; }
  .testimonials .arrow-left {
    cursor: pointer;
    color: #f99b80;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 29.5%;
    top: 44%;
    width: 2%;
    border-radius: 100%;
    height: 11%;
    background-color: #fff; }

/* FOOTER SECTION */
.footer {
  position: relative;
  background-color: #ffefea; }
  .footer .footer__app-download {
    background-color: #f99b80;
    position: absolute;
    top: -145%;
    padding: 4rem;
    border-radius: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .footer .footer__app-download p {
      width: 45%;
      font-size: 3.7rem;
      color: #fff; }
    .footer .footer__app-download a {
      color: #000;
      letter-spacing: 1px;
      padding: 1.2rem 2.5rem;
      font-size: 2.6rem;
      font-weight: 400;
      background-color: #fff;
      border-radius: 10px;
      margin-right: 8rem;
      align-self: center; }
  .footer__body {
    display: flex;
    justify-content: space-between; }
  .footer__logo {
    display: flex;
    flex-wrap: wrap;
    width: 18%; }
    .footer__logo-image-container {
      width: 3.5rem;
      height: 3.5rem;
      background: linear-gradient(to right, #373b44, #4286f4);
      border-radius: 100%;
      margin-right: 1.3rem; }
    .footer__logo-heading {
      padding-top: .3rem;
      font-size: 2.5rem;
      font-weight: 600; }
    .footer__logo p {
      color: #777;
      text-transform: capitalize;
      width: 71.6%;
      font-weight: 500;
      margin-top: -4.3rem; }
  .footer .footer__body-content {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 65%; }
  .footer ul {
    list-style-type: none; }
    .footer ul p {
      font-weight: 600;
      margin-bottom: 1.5rem; }
    .footer ul li {
      color: #777;
      margin-bottom: 0.9rem;
      font-weight: 500; }
    .footer ul span {
      font-size: 1.4rem;
      background-color: #f99b80;
      padding: 1rem 1.2rem;
      border-radius: 12px;
      color: #fff;
      margin: 3rem 0.5rem 0 0; }

.footer::before {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #ffefea; }
