@import "base/base";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/utilities";

  /* HEADER SECTION */


.header {
    color: #000;
}

.header::after {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: $color-pink-light;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 0;


    &__logo {
        display: flex;

        &-image-container {
            width: 2.5rem;
            height: 2.5rem;
            background: linear-gradient(to right, #373b44, #4286f4);
            border-radius: 100%;
            margin-right: 1rem;
        }
    
        &-heading {
            padding-top: .3rem;
            font-size: 1.6rem;
            font-weight: 600;
        }
    }


    &__list {
        ul {
            padding-top: .9rem;
            display: flex;
            font-size: 1.2rem;
            font-weight: 500;
            list-style-type: none;
            cursor: pointer;

            li {
                margin-right: 3rem;
            }

        }
        
    }


    &__action {
        width: 10%;

        a {
            @include button
        }

        a:hover {
            @include button-hover
        }

    }
}

.header__body {
    display: flex;
    margin-top: 11rem;
}

.header__text-box {
    margin-right: 8rem; 
    width: 30%;
    min-width: 37.5rem;

    &-heading {
        font-size: 6rem;
        font-weight: bold;
        white-space: pre-line;
        margin-bottom: 2rem;

        span {
            color: $color-orange;
        }

    }

    &-description {
        color: $color-gray;
    }

    &-action {
        width: 40%;
        margin: 2.5rem 0;

        a {
            @include button
        }

        a:hover {
            @include button-hover
        }

    }
}

.header__person-picture {  // Will change
    width: 50%;
    height: 40rem;
    background: linear-gradient(to bottom, #ee9ca7, #ffdde1);
}

/* MAIN SECTION */

.main {
    margin-top: 21.5rem;
}

.features {
    margin-bottom: 17rem;

    &__header {
        text-align: center;
    }

    &__badge {
        display: inline-block;
        @include badge;
        text-transform: uppercase;
        margin-bottom: .6rem;
    }

    &__heading {
        font-size: 2.6rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &__description {
        display: inline-block;
        font-size: 1.2rem;
        color: $color-gray;
        width: 33%;
    }

    &__feature {
        display: flex;
        justify-content: space-between;
        margin: 4rem auto 0;
        width: 60%;
    }

    &__feature-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 22%;
        text-align: center;

        h4 {
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 1.4rem;
        }

        p {
            margin-top: 1rem;
            color: lighten($color-gray, 10%);
            font-size: 1.1rem;
        }

        
    }

    &__feature-icon-box {
        width: 7rem;    // Needs improvements  // Be consistant
        height: 7rem;   // Needs improvements
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        
        img {
            width: 4rem;  // Needs improvements  // Be consistant
        }
    

    }

    &__feature-icon-box:nth-child(3) {
        img {
            width: 3.2rem;
        }
    }
    
    &__feature-image-box {   // Will change
        width: 50%;
        height: 40rem;
        background: linear-gradient(to right, #a8ff78, #78ffd6);
        margin-left: -4rem;
    }

    &__feature-content-box {
        width: 38.25%;
        align-self: center;
        
        h4 {
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 1.6;
        }

        p {
            font-size: 1.25rem;
            color: lighten($color-gray, 10%);
            line-height: 1.8;
            margin-top: .8rem;
        }
        
        ul {
            font-size: 1.3rem;
            color: darken($color-gray, 40%);
            margin-top: 1.7rem;
            line-height: 2;
        }
        
    }

    &__feature--two {
        margin-top: 13rem;
    }

    &__feature--three {
        margin-top: 22rem;

        .features__feature-image-box {
            height: 28rem;
        }

        .features__feature-content-box {
            width: 33%;
            align-self: start;
        }

    }

    &__feature--four {
        margin: 17rem auto 0;

        .features__feature-content-box {
            width: 37%;
        }
    }


}

/* PRICE SECTION */

.price {  // I think needs improvements
    text-align: center;
    margin-bottom: 17rem;

    &__badge {
        @extend .features__badge
    }

    &__heading {
        @extend .features__heading;
    }

    &__description {
        @extend .features__description;
    }

    &__list {
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin: 7rem auto 0;
        width: 71%;
    }

    &__list-item {
        padding: 4rem 7rem;
        border: 1px solid #efe8e8;
        border-radius: 10px;
        box-shadow: 0px 26px 24px -12px rgb(0, 0, 0);

        h5 {
            font-size: 1.6rem;
            font-weight: bold;
        }

        .price__icon {
            display: block;
            font-size: 2.5rem;
            margin: 1.7rem 0;
        }

        .price__number {
            display: inline-block;
            font-weight: bold;
            font-size: 2.3rem;
            margin-bottom: 3rem;

            span  {
                font-size: .9rem;
                color: $color-orange;
            }
        }

        p {
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 3rem;
            line-height: 1.8;
            
            span {
                color: lighten($color-gray, 35%);
            }
        }

        button {
            width: 120%;
            letter-spacing: 1px;
            color: lighten($color-gray, 18%);
            border-radius: 35px;
            padding: .5rem 1.2rem;
            border: 1px solid #e1dede;
            margin-left: -.9rem;

            img {
                display: inline-block;
                width: 12%;
                margin-right: .6rem;
            }

        }

    }

    &__list-item--highlighted {
        background-color: #fff;
        box-shadow: 0px 26px 24px -12px rgb(0, 0, 0);
        margin: 0 7rem;
        border: none;

        button {
            border: none;
            margin-left: -.9rem;
            @include button(.9rem, .7rem 1.2rem, 35px);
        }

        button:hover {
            @include button-hover;
        }

    }

}

/* TESTIMONIALS SECTION */

.testimonials {
    text-align: center;
    margin-bottom: 50rem;

    &__badge {
        @extend .features__badge;
    }

    &__heading {
        @extend .features__heading;
    }

    &__description {
        @extend .features__description;
    }

    &__testimonial-list {
        display: flex;
        justify-content: space-between;
        margin-top: 10rem;
        // position: absolute;
        // left: 0;
        overflow-x: hidden;
    }

    &__item {
        padding: 3.2rem 7rem 0;
        border-radius: 15px;
        background-color: lighten($color-gray, 49%);
        font-size: 1.2rem;  
    }

    &__testimonial-image-box {
        width: 15%;
        margin: 0 auto;

        img {
            border-radius: 100%;
        }
    }
    
    h5 {
        font-size: 1.4rem;
        font-weight: bold;
        margin: 1.8rem 0 0;
    }
    
    time {
        color: lighten($color-gray, 25%);
        margin: .2rem 0 .6rem;
        display: inline-block;
    }

    &__testimonial-rate {
        margin-bottom: .5rem;

        span {
            color: #f29938;
        }

    }

    p {
        color: lighten($color-gray, 10%);
    }


    &__item-one {
        transform: translateX(-120px);
    }

    &__item-two {
        background-color: #fff;
        // font-size: 1.4rem;

        // h5 {
        //     font-size: 1.8rem;
        // }
        transform: scale(1.2);
        transform-origin: 0 0;
    }

    &__item-three {
        transform: translateX(120px);
    }

    .arrow-right {
        @include arrow-icon(69%);
    }

    .arrow-left {
        @include arrow-icon(29.5%);
    }
}

/* FOOTER SECTION */

.footer {
    position: relative;
    background-color: $color-pink-light;

    .footer__app-download {
        background-color: $color-orange;
        position: absolute;
        top: -145%;
        padding: 4rem;
        border-radius: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
            width: 45%;
            font-size: 3.7rem;
            color: #fff;
        }

        a {
            @include button(2.6rem, 1.2rem 2.5rem, 10px, #fff, #000);
            margin-right: 8rem;
            align-self: center;
        }
    }
    
    &__body {
        display: flex;
        justify-content: space-between;
    }
    
    &__logo {
        display: flex;
        flex-wrap: wrap;
        width: 18%;

        &-image-container {
            width: 3.5rem;
            height: 3.5rem;
            background: linear-gradient(to right, #373b44, #4286f4);
            border-radius: 100%;
            margin-right: 1.3rem;
        }
    
        &-heading {
            padding-top: .3rem;
            font-size: 2.5rem;
            font-weight: 600;
        }

        p {
            color: $color-gray;
            text-transform: capitalize;
            width: 71.6%;
            font-weight: 500;
            margin-top: -4.3rem;
        }

    }

    .footer__body-content {
        display: flex;
        justify-content: space-around;
        margin-top: 3rem;
        width: 65%;

    }

    ul {
        list-style-type: none;

        p {
            font-weight: 600;
            margin-bottom: 1.5rem;
        }

        li {
            color: $color-gray;
            margin-bottom: 0.9rem;
            font-weight: 500;
        }

        span {
            font-size: 1.4rem;
            background-color: $color-orange;
            padding: 1rem 1.2rem;
            border-radius: 12px;        
            color: #fff;
            margin: 3rem 0.5rem 0 0;
        }
    }

}

.footer::before {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: $color-pink-light;
}