*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Radio Canada', sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
    width: 88%;
    height: 100vh;
    margin: 0 auto;
    background-color: #f9f7f7;
}
