.bg-orange-icon {
    background-color: #f99b80;
}

.bg-yellow-icon {
    background-color: #f1dfbb;
}

.bg-aquamarine-icon {
    background-color: #cae8e1;
}

.bg-drak-blue-icon {
    background-color: #15223d;
}